@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
}

body {
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    height: 100%;
}

.back {
    height: 80px;
    width: 80px;
    text-align: center;
    padding-top: 10px;
    
}

h2 {
    color: red;
    text-align: center;
    font-size: 55px;
    grid-area: h2;
    
}

a {
    color: aliceblue;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: red;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.container { 
    max-width: 1200px;
    margin: auto;
}

.grid_items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
}

.main_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.1fr 1fr;
    grid-template-areas: 
    "h2 h2"
    "text1 tex2"
    "img1 img2";
}